{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Iykkara</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Article-Dual-Column.css' %}">
    <link rel="stylesheet" href="{% static 'css/Latest-Blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/Pretty-Footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/Team-Boxed.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="{% url 'study_logs:base' %}">IYKKARA</a><button data-toggle="collapse" data-target="#navcol-2" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse text-center"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" id="history" href="{% url 'study_logs:history' %}">HISTORY&nbsp;&nbsp;</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link text-dark" id="famly" href="{% url 'study_logs:familytree' %}">FAMILY TREE&nbsp;&nbsp;</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link text-dark" id="gallery" href="{% url 'study_logs:gallery' %}">GALLERY&nbsp;&nbsp;</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link text-dark" id="news" href="{% url 'study_logs:news' %}">NEWS</a></li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">REGISTER&nbsp;&nbsp;</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link text-dark" id="login" href="#">LOGIN&nbsp;&nbsp;</a></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="promo">
        <div class="jumbotron">
            <h1 class="display-4"><strong>Welcome To&nbsp;</strong></h1>
            <p class="text-uppercase"><strong>Iykkara kudumbayogam</strong></p>
            <p></p>
        </div>
    </div>
    <div class="container site-section" id="welcome">
        <h1 class="text-center">Iykkara Kudumbayogam</h1>
        <p class="text-monospace"><br>“www.iykkara.org” is the official website of the IykkaraKudumbayogam, Perunna West, which comprises&nbsp; of more than 658 members. This site aims to be an all-in-one portal for sharing information relating to the members of the Iykkara Family.<br><br></p>
    </div>
    <div class="dark-section">
        <div class="container site-section" id="why">
            <div class="row">
                <div class="col-4 col-md-4 item">
                    <h4><i class="fa fa-home"></i><a id="his" href="#">History</a></h4>
                    <p><br>One of the most ancient and reputed Hindu Nair families of Central Travancore, the origin of the Iykkara Family can be traced, wading through custom and tradition.<br></p>
                </div>
                <div class="col-4 item">
                    <h4><i class="fa fa-tree"></i><a id="fam" href="#">Family Tree</a></h4>
                    <p><br>One of the most ancient and reputed Hindu Nair families of Central Travancore, the origin of the Iykkara Family can be traced, wading through custom and tradition.<br></p>
                </div>
                <div class="col-4 item">
                    <h4><i class="fa fa-photo"></i><a id="gal" href="#">Gallery</a></h4>
                    <p><br>One of the most ancient and reputed Hindu Nair families of Central Travancore, the origin of the Iykkara Family can be traced, wading through custom and tradition.<br></p>
                </div>
            </div>
            <p class="text-monospace"><br><br></p>
        </div>
    </div>
    <footer id="fotter">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 footer-navigation">
                    <h3><a href="#">Important Link<span></span></a></h3>
                    <p class="links"><a href="#">Home</a><strong> · </strong><a href="#">Blog</a><strong> · </strong><a href="#">Gallery</a><strong> · </strong><a href="#">Family Tree</a><strong>&nbsp;</strong></p>
                </div>
                <div class="col-sm-6 col-md-4 footer-contacts">
                    <div></div>
                    <div>
                        <h5 class="text-left">Contact</h5><i class="fa fa-phone footer-contacts-icon"></i>
                        <p class="footer-center-info email text-left">+91-8157983503</p>
                    </div>
                    <div><i class="fa fa-envelope footer-contacts-icon"></i>
                        <p> <a href="#" target="_blank">iykkara@gmail.com</a></p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4 footer-about">
                    <h5>About&nbsp;</h5>
                    <p class="text-left">Iykkara Kudumbam,perunna West,&nbsp;<br>Changanacherry,Kottayam,kerala</p>
                    <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
                </div>
            </div>
        </div>
    </footer>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/bs-init.js"></script>
    <script src="static/js/Swiper-Slider-Card-For-Blog-Or-Product.js"></script>
</body>

</html>
