{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Iykkara</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Article-Dual-Column.css' %}">
    <link rel="stylesheet" href="{% static 'css/Latest-Blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/Pretty-Footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/Team-Boxed.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="{% url 'study_logs:base' %}">IYKKARA</a><button data-toggle="collapse" data-target="#navcol-2" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse text-center"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                  <li class="nav-item" role="presentation"><a class="nav-link active" id="history" href="{% url 'study_logs:history' %}">HISTORY&nbsp;&nbsp;</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link text-dark" id="famly" href="{% url 'study_logs:familytree' %}">FAMILY TREE&nbsp;&nbsp;</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link text-dark" id="gallery" href="{% url 'study_logs:gallery' %}">GALLERY&nbsp;&nbsp;</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link text-dark" id="news" href="{% url 'study_logs:news' %}">NEWS</a></li>

                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'users:register' %}">REGISTER</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link text-dark" id="login" href="{% url 'users:login' %}">LOGIN</a></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" id="cont">
        <h1>HISTROY</h1>
    </div>
    <div class="article-dual-column">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="intro">
                        <h1 class="text-center">Our History In Brief</h1>
                        <p class="text-center"> </p><img class="img-fluid" src="/static/img/background1.jpg"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-lg-3 offset-md-1">
                    <div class="toc">
                        <p></p>
                        <ul>
                            <li><a href="#">History</a> </li>
                            <li><a href="#">History Of Iykkara Kudumbam</a></li>
                            <li><a href="#">Iykkara Kudumbacharithram</a> </li>
                            <li><a href="#">Constitution Of Iykkara Kudumbam</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-10 col-lg-7 offset-md-1 offset-lg-0">
                    <div class="text">
                        <p><br>One of the most ancient and reputed Hindu Nair families of Central Travancore, the origin of the Modayil Family can be traced, wading through custom and tradition. The family name ” Iykkara” originates with its founding father
                            '&nbsp; ***’ a very pious and devout Hindu full of love and compassion for his fellow beings, especially the poor, the down-trodden, the untouchables and the outcastes. Well respected in society for his moral rectitude, deep
                            spirituality and religious fervour, he was a Colossus among his contemporaries. He married ***&nbsp; from *** family in ***. A noble and efficient housewife, she was reputed for her kind and charitable disposition and unflinching
                            faith in God.<br><br></p>
                        <p><br><br>&gt;One of the most ancient and reputed Hindu Nair families of Central Travancore, the origin of the Modayil Family can be traced, wading through custom and tradition. The family name ” Iykkara” originates with its founding
                            father '&nbsp; ***’ a very pious and devout Hindu full of love and compassion for his fellow beings, especially the poor, the down-trodden, the untouchables and the outcastes. Well respected in society for his moral rectitude,
                            deep spirituality and religious fervour, he was a Colossus among his contemporaries. He married ***&nbsp; from *** family in ***. A noble and efficient housewife, she was reputed for her kind and charitable disposition and
                            unflinching faith in God.<br><br><br></p>
                        <h2><br><a href="#"><span style="text-decoration: underline;">History Of Iykkara Kudumbam</span></a><br><br></h2>
                        <p>Suspendisse vel placerat ligula. Vivamus ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                            posuere cubilia Curae.</p>
                        <figure class="figure"><img class="figure-img" src="/static/img/background1.jpg"></figure>
                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Suspendisse vel placerat ligula. Vivamus ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit
                            pulvinar dictum vel in justo.</p>
                        <h2><br><br><a href="#"><span style="text-decoration: underline;">Iykkara Kudumbacharithram</span></a><br><br></h2>
                        <p>Suspendisse vel placerat ligula. Vivamus ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                            posuere cubilia Curae.</p>
                        <figure class="figure"><img class="figure-img" src="/static/img/background1.jpg"></figure>
                        <p>Suspendisse vel placerat ligula. Vivamus ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                            posuere cubilia Curae.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="fotter">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 footer-navigation">
                    <h3><a href="#">Important Link<span></span></a></h3>
                    <p class="links"><a href="#">Home</a><strong> · </strong><a href="#">Blog</a><strong> · </strong><a href="#">Gallery</a><strong> · </strong><a href="#">Family Tree</a><strong>&nbsp;</strong></p>
                </div>
                <div class="col-sm-6 col-md-4 footer-contacts">
                    <div></div>
                    <div>
                        <h5 class="text-left">Contact</h5><i class="fa fa-phone footer-contacts-icon"></i>
                        <p class="footer-center-info email text-left">+91-8157983503</p>
                    </div>
                    <div><i class="fa fa-envelope footer-contacts-icon"></i>
                        <p> <a href="#" target="_blank">iykkara@gmail.com</a></p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4 footer-about">
                    <h5>About&nbsp;</h5>
                    <p class="text-left">Iykkara Kudumbam,perunna West,&nbsp;<br>Changanacherry,Kottayam,kerala</p>
                    <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bs-init.js'%}"></script>
    <script src="{% static 'js/Swiper-Slider-Card-For-Blog-Or-Product.js' %}"></script>
</body>

</html>
